<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "styles.min.css" %}{% endset %}
      <style>
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/styles.min.css">
    {% endif %}
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<!-- Try and serve Google Fonts in the most efficent way possible -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
		<noscript>
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet" type="text/css"/>
		</noscript>
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <main id="main" class="md:p-12 lg:p-16 border-t-8 border-gray-200 bg-blue-200">
      <div class="mb-8">
        <a class="font-bold text-2xl mb-2 pt-4 no-underline text-black" href="/">canisoon</a>
      </div>
      <div class="max-w-full bg-blue-100">
        {{ content | safe }}
      </div>
      <footer class="text-xs text-gray-500 mt-12 border-t border-gray-100 pt-6">
        Based on data from <a href="https://www.caniuse.com">www.caniuse.com</a>, written by <a href="https://github.com/dmcclory">Dan McClory</a>
      </footer>
    </main>
  </body>
  <script src="/static/app.min.js" defer></script>
</html>
