---
layout: base.njk
pagination:
  data: categories
  size: 1
  alias: category
permalink: "categories/{{ category.name | slug}}/"
---

<div class="px-4">
  <h1 class="text-2xl pt-4 mb-4">{{ category.name }}</h1>
  {%set features = category.features %}
  {% include "feature-set-list.njk" %}
</div>